.THIS .Biotechnology {    
    background: red;
}
.THIS .Energy {    
    background: cornsilk;
}

.THIS .Electronics {    
    background: antiquewhite;
    
}

.THIS .Apparel {    
    background: chocolate;
}
.THIS .Construction {    
    background: mediumvioletred;
}

.THIS .Hospitality {    
    background: aqua;
}

.THIS .Transportation {    
    background: aquamarine;
}

.THIS .Education {    
    background: HotPink;
}